html,
body {
  height: 100%;
}

.restaurant-img {
  max-width: 600px;
  max-height: 337px;
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: contain;
}

#wrap {
  min-height: 100%;
}
#body {
  overflow: auto;
  padding-bottom: 240px;
} /* must be same height as the footer */
#footer {
  position: relative;
  margin-top: -240px; /* negative value of footer height */
  height: 240px;
  clear: both;
}

#burgundy {
  color: rgb(153, 40, 59);
}
.btn > div {
  color: black;
}

button.btn.dropdown-toggle {
  padding-bottom: 1em;
}

div.filter-option,
div.dropdown.bootstrap-select {
  color: black;
}

small.font-weight-bold.text-primary {
  color: rgb(153, 40, 59) !important;
}

a.dropdown-item.selected.active {
  background-color: lightgrey;
  color: black;
}
.nav-pills .nav-link.active {
  background-color: orange !important;
  color: black;
}

.nav-pills .nav-link {
  color: black;
}

#orange,
.btn {
  color: orange;
}

.pagination > li > a {
  background-color: white;
  color: orange;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #5a5a5a !important;
  border: solid 1px #5a5a5a !important;
}

.pagination > .active > a:hover {
  background-color: #5a5a5a !important;
  border: solid 1px #5a5a5a;
}

.search-bar {
  width: 420px !important;
  outline-color: white !important;
  border-color: white !important;
}

.restaurant-separator {
  min-height: 25px;
  display: block;
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

@media (max-width: 425px) {
  .search-bar {
    width: 200px !important;
  }
  .restaurant-separator {
    min-height: 245px;
    display: block;
  }
}

@media (max-width: 1050px) {
  .search-bar {
    width: 300px !important;
  }
}

/* magic fix for firefox */
.owl-carousel .owl-stage {
  display: flex;
}
.article-items {
  display: flex;
  flex: 1 0 auto;
  height: 100%;
}
.aticle-box {
  position: relative;
  overflow: hidden;
  /* margin-bottom: 80px; */ /*This is optional*/
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* carousel styling */
.owl-prev,
.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
}
.owl-prev {
  left: -22px;
}
.owl-next {
  right: -22px;
}
.owl-prev i,
.owl-next i {
  transform: scale(2, 5);
  color: #ccc;
}

.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background-color: #282d32;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-light {
  background-color: #f0f9ff;
  color: #282d32;
}

/* footer styling */
.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 25px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  margin-right: 10px;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
  padding: 10px;
}

#rateYo {
  height: 40px;
}
#select-filter,
#sort-filter,
#order-filter {
  height: 60px;
}

.fa-facebook,
.fa-twitter,
.fa-instagram {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  opacity: 0.7;
  cursor: pointer;
}
